#themesBox,
#extensionsBox {
    margin: 10px 10px 0px 10px;
}

richlistitem {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-inline-start: 7px;
    padding-inline-end: 7px;
    min-height: 25px;
    border-bottom: 1px dotted #C0C0C0;
}

richlistitem[initiallyDisabled="1"] .addonIcon {
    opacity: 0.3;
}

richlistitem[initiallyDisabled="1"] {
    color: GrayText;
}

richlistitem[selected="true"] {
    background-color: -moz-Dialog;
    color: -moz-DialogText;
}

.selectedButtons,
.selectedStatusMsgs {
    display: none;
}

richlistitem[selected="true"] .selectedButtons,
richlistitem[selected="true"] .selectedStatusMsgs {
    display: flex;
}

richlistbox:where(:focus) > richlistitem[selected="true"] {
    background-image: url("chrome://uchrm/content/pages/userchrome/images/itemEnabledFader.png");
    background-color: Highlight;
    color: HighlightText;
}

richlistbox:where(:focus) > richlistitem[selected="true"][initiallyDisabled="1"] {
    background-image: url("chrome://uchrm/content/pages/userchrome/images/itemDisabledFader.png");
}

richlistitem[selected="true"] .startMsgLink {
    color: inherit;
}

.descriptionWrap {
    margin-bottom: 2px;
}

.addonName {
    font-weight: bold;
}

.addonIcon {
    margin-inline-end: 2px;
    width: 32px;
    max-width: 32px;
    height: 32px;
    max-height: 32px;
    list-style-image: url("chrome://uchrm/content/pages/userchrome/images/themeGeneric.png");
}

#extensionsBox .addonIcon {
    list-style-image: url("chrome://uchrm/content/pages/userchrome/images/extensionGeneric.png");
}

#themeSplitter {
    border-width: 0;
}

.selectedButtons {
    margin-top: 4px;
    min-height: 2.1em;
}

.selectedButtons button {
    margin-top: 0;
    margin-bottom: 0;
}

.optionsButton, .useThemeButton {
    margin-inline-end: 0;
}

.uninstallButton, .cancelUninstallButton {
    margin-inline-start: 5px;
}

#themePreviewArea,
#themesView {
    background-color: Field;
    color: FieldText;
    border: 1px solid ThreeDShadow;
    overflow: auto;
}

#extensionsView,
#themesView {
    margin: 0;
}

#themesView {
    min-width: calc(50% - 3px);
}

.previewText {
    font-size: larger;
    font-weight: bold;
    color: ThreeDShadow;
    text-align: center;
}

.statusMsg {
    display: none;
}

.uninstallShow {
    display: none;
}

richlistitem[opType="needs-uninstall"] .uninstallHide {
    display: none !important;
}

richlistitem[opType="needs-uninstall"] .uninstallShow {
    display: flex;
}

richlistitem[opType="needs-enable"] .enableShow,
richlistitem[opType="needs-enable"] .enablePendingShow,
richlistitem[opType="needs-disable"] .disablePendingShow {
    display: flex;
}

richlistitem[isDisabled="1"] .disableHide,
richlistitem[isDisabled="0"] .enableHide  {
    display: none;
}

richlistitem[isDisabled="1"] .disableShow,
richlistitem[isDisabled="0"] .enableShow  {
    display: flex;
}

.statusMsgLabel {
    font-weight: bold;
}


#commandBarBottom {
    margin: 10px 10px 5px 10px;
    min-width: 1px;
}

#commandBarBottom button {
    margin: 0;
    margin-inline-end: 5px;
}

#topBar {
    border-bottom: 2px groove ThreeDFace;
    background-color: -moz-Field;
    color: -moz-FieldText;
}

#viewGroup {
    padding-inline-start: 10px;
    flex-direction: row;
}

#viewGroup > radio {
    appearance: none;
    margin: 0px 1px 0px 1px;
    padding: 2px 6px;
    min-width: 4.5em;
}

#viewGroup > radio:hover {
    background-color: #E0E8F6;
    color: black;
}

#viewGroup > radio[selected="true"] {
    background-color: #C1D2EE;
    color: black;
}

#viewGroup > radio .radio-check {
    display: none;
}

#viewGroup > radio .radio-label-box {
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#viewGroup > radio .radio-icon {
    opacity: 0.8;
}

#viewGroup > radio:hover .radio-icon,
#viewGroup > radio[selected="true"] .radio-icon {
    opacity: 1;
}

radio#extensions-view {
    list-style-image: url("chrome://uchrm/content/pages/userchrome/images/extensionsView.png");
}

radio#themes-view {
    list-style-image: url("chrome://uchrm/content/pages/userchrome/images/themesView.png");
}